@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-primary: #880000;
  --color-primary-container: #b40000;
  --color-secondary: #ba002e;
  --color-tertiary: #002db6;
  --color-surface: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-surface-container: #eeeeee;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
}

@layer base {
  body {
    @apply bg-surface font-body text-on-surface antialiased;
  }
}

.bg-industrial-gradient {
  background: linear-gradient(135deg, #880000 0%, #b40000 100%);
}

.press-effect-inset:active {
  transform: scale(0.98);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: #880000;
}
